/* HOME PAGE */
body {
  margin: 0;
  background-color: #fff8f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  width: 100%;
  box-sizing: border-box;
}

.brand {
  justify-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-size: 60px;
  color: crimson;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 3px;
}

.navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-self: end;
}

.nav-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 20px;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #f2f2f2;
  color: #a53344;
}

h2 {
  text-align: center;
  font-family: "Cherry Bomb One", system-ui;
  font-size: 30px;
  color: rgb(219, 45, 80);
  opacity: 0.7;
  letter-spacing: 2px;
  line-height: 3;
  margin-top: 20px;
}

p {
  text-align: center;
  font-family: "Cherry Bomb One", system-ui;
  font-size: 30px;
  color: #5f5f5f;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.mood-preview {
  text-align: center;
  margin: 30px 0;
}

.moods {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.features {
  background-color: #ffe4ec;
  padding: 20px;
  border-radius: 20px;
  margin: 30px 20px;
  text-align: center;
}

.features p {
  margin: 8px 0;
  color: #5a5a5a;
}
.section-title {
  font-family: "Cherry Bomb One", system-ui;
  color: rgb(219, 45, 80);
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.quote {
  margin: 40px 20px;
  padding: 20px;
  text-align: center;
  font-family: "DynaPuff", system-ui;
  background-color: #ffffff;
  border-radius: 20px;
  color: #b76e79;
  font-style: italic;
}

.quote p {
  color: rgb(219, 45, 80);
}

.track-btn {
  display: block;
  width: fit-content;
  margin: 40px auto;
  background-color: #5e343b;
  color: #ffffff;
  font-family: "DynaPuff", system-ui;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(183, 110, 121, 0.25);
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 18px;
}

.track-btn:hover {
  background-color: #a35d68;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(163, 93, 104, 0.3);
}

.track-btn:active {
  background-color: #8e4f59;
}

footer {
  margin-top: auto;
  padding: 4px 0;
  background-color: #eaeaea;
  line-height: 1.6;
}

#footer {
  font-size: 14px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  color: #494949;
}

/* TRACKING PAGE */
.track-page {
  display: flex;
  justify-content: center;
}

.track-page .container {
  background: #ffffff;
  padding: 30px 25px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 24px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08),
    0 2px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.track-page h4 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Cherry Bomb One", system-ui;
  letter-spacing: 1px;
  color: rgb(219, 45, 80);
}

.mood-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
}

.mood-grid input {
  display: none;
}

.mood-grid span {
  display: block;
  padding: 15px;
  border-radius: 12px;
  background: #eef3f0;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mood-grid span:hover {
  background: #a35d68;
}

.mood-grid input:checked + span {
  background: #e75480;
  color: white;
}

.date-section {
  margin-bottom: 20px;
  text-align: left;
}

.date-section label {
  font-size: 20px;
  color: #2f2f2f;
  font-family: "Cherry Bomb One", system-ui;
  display: block;
  text-align: center;
}

.date-section input {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background: #eef3f0;
  font-size: 20px;
  font-weight: bold;
  color: #2f2f2f;
  transition: 0.2s;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.date-section input:hover {
  background: #a35d68;
}

.date-section input:focus {
  outline: none;
  background: #e75480;
  box-shadow: 0 0 0 2px #9db5a3;
}
#message {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

button {
  width: fit-content;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: crimson;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  font-family: "Cherry Bomb One", system-ui;
}

button:hover {
  background: rgb(165, 15, 45);
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0px);
  background-color: rgb(143, 11, 38);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #e75480;
}

/* ABOUT PAGE */
.about-container {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-section {
  background: #ffe4ec;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}
.about-section:first-child {
  grid-column: span 2;
}

.about-section h2 {
  margin-bottom: 1px;
  color: #a53344;
}

.about-section p,
.about-section li {
  color: #2f2f2f;
  margin-top: 0;
}

.about-section ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.about-section li {
  padding: 10px 14px;
  font-family: "Cherry Bomb One", system-ui;
  font-size: 25px;
}

.about-section li::before {
  content: "✔";
  color: #22884e;
  font-size: 25px;
  top: 2px;
}

#message {
  margin-top: 16px;
  padding: 15px 16px;
  border-radius: 14px;
  font-size: 20px;
  text-align: center;
  background: #ffffff;
  color: #2f2f2f;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  min-height: 20px;
  transition: all 0.9s ease;
}